style.
  body {
    color:'#5f60ff';
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:10px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .styled-table {
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: thin solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:nth-child(even) {
      background: #f3f3f3;
    }


    .styled-table tbody tr:last-of-type {
        border-bottom: thin solid #009879;
    }

    .even {
        background-color: #f3f3f3;
    }

    .green {
            background-color: #009879;
                    color: #ffffff;
    }

    .gray {
            background-color: #f0efeb;
            color: #000000;
    }

    .blue {
            background-color: #c3eefa;
            color: #000000;
    }

    .yellow {
        background-color: #ffeaa7;
        color: #000000;
    }

    .euro {
        background-color: #006796;
        color:#ffffff;
    }

    .dollar {
        background-color: #85BB65;
        color:#ffffff;
    }

    .black {
        background-color: #000000;
        color:#ffffff;
    }

    .greentext {
      color: #49a127;
    }

    .redtext {
      color: #bf3032;
    }







  td {
    text-align:center;
    padding: 8px;
    border: 1px solid #aaaaaa;
  }

    .column1 {
        background-color: #f0f0f0;
        width: 25%;
      }

    .column2 {
        background-color: #d1e0e0;
        width: 25%;
      }

    .column15 {
        width:15%;
    }

    .column25 {
        width:25%;
    }

    .column25NoBorder {
        width:25%;
        border: none !important;
    }

    .column30 {
        width:30%;
    }

    .column33 {
        width:33.33%;
    }

    .column50 {
      width: 50%;
    }

    .tcolumn {
        width: 33.33%;
        font-size:20px;
        text-align:center;
    }

    .bankanamecolumn {
        width:20%;
        font-size:14px;
    }

    .bankavaluecolumn {
        width:6.67%;
        font-size:14px;
    }

    .ttitle {
        font-weight:bold;
    }

    .st {
          font-size: 12px;
          text-align:center;
          font-weight: lighter;
    }

    .t {
          font-size: 16px;
          text-align:center;
          font-weight: lighter;
    }

    .tm {
         font-size: 16px;
          text-align:center;
          font-weight: lighter;
    }

    .v {
        font-size:24px;
    }


    .sv {
        font-size:16px;
    }

   .title {
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: lighter;
      }
      .number {
        font-weight: bold;
        color: #333;
        font-size: 42px;
      }

    .value {
      font-size:30px;
    }

      .header {
          padding: 1px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
      }

      .blockcontainer1 {
         display: flex; justify-content: center; flex-direction: row; align-items: center;
      }

      .block25 {
        display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: center;
      }

      .bold {
          font-weight:bold;
      }

      .empty {
        background-color: #ffffff;
        color: #000000;
      }

      .bankadaki {
        background-color: #ddedea;
        color: #000000;
      }

      .baglanan {
        background-color: #fcf4dd;
        color: #000000;
      }

      .blokeli {
        background-color: #f0efeb;
        color: #000000;
      }

      .toplam {
        background-color: #d2e7d6;
        color: #000000;
      }


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
  body
    h1(style={color: '#009845'})=`Bankalar Son Durum`
    p(style={color: '#5f6062'})=`Güncelleme : ${guncelleme_tarihi}`
    table(style="width: 100%; height: 100%")
      tr
        td
            table.styled-table
                thead
                    tr.green
                        th.empty
                            .t
                        th.baglanan
                            .t Ödenecek Anapara
                        th.empty
                            .t
                        th.empty
                            .t
                tbody
                    tr
                        td.column25NoBorder
                            .v=``
                        td.column25
                            .v=`${kpi_odenecek_anapara}₺`
                        td.column25NoBorder
                            .v=``
                        td.column25NoBorder
                            .v=``
            table.styled-table
                thead
                    tr.green
                        th.bankadaki
                            .t Bankadaki Para
                        th.baglanan
                            .t Bağlanan Para
                        th.blokeli
                            .t Blokeli Para
                        th.toplam
                            .t Toplam Para
                tbody
                    tr
                        td.column25
                            .v=`${kpi_bankadaki_para}₺`
                        td.column25
                            .v=`${kpi_baglanan_para}₺`
                        td.column25
                            .v=`${kpi_blokeli_para}₺`
                        td.column25
                            .v=`${kpi_toplam_para}₺`
            br
            br
            table.styled-table
              thead
                tr.green
                  th.bankadaki
                    .st Bankadaki Para TL
                  th.bankadaki
                    .st Bankadaki Para EUR
                  th.bankadaki
                    .st Bankadaki Para USD
                  th.baglanan
                    .st Bağlanan Para TL
                  th.baglanan
                    .st Bağlanan Para EUR
                  th.baglanan
                    .st Bağlanan Para USD
                  th.blokeli
                    .st Blokeli Para TL
                  th.blokeli
                    .st Blokeli Para EUR
                  th.blokeli
                    .st Blokeli Para USD
                  th.toplam
                    .st Toplam Para TL
                  th.toplam
                    .st Toplam Para EUR
                  th.toplam
                    .st Toplam Para USD
                  th.toplam
                    .st Toplam TL Karşılık
              tbody
                tr
                  td
                    .sv=`${subeSubTotals[0].qText}`
                  td
                    .sv=`${subeSubTotals[1].qText}`
                  td
                    .sv=`${subeSubTotals[2].qText}`
                  td
                    .sv=`${subeSubTotals[3].qText}`
                  td
                    .sv=`${subeSubTotals[4].qText}`
                  td
                    .sv=`${subeSubTotals[5].qText}`
                  td
                    .sv=`${subeSubTotals[6].qText}`
                  td
                    .sv=`${subeSubTotals[7].qText}`
                  td
                    .sv=`${subeSubTotals[8].qText}`
                  td
                    .sv=`${subeSubTotals[9].qText}`
                  td
                    .sv=`${subeSubTotals[10].qText}`
                  td
                    .sv=`${subeSubTotals[11].qText}`
                  td
                    .sv=`${subeSubTotals[12].qText}`
            br
            br
            table.styled-table
                thead
                    tr.yellow
                        th
                            .tm Geçmiş Faiz ve Vergi
                        th
                            .tm Kalan Faiz ve Vergi
                        th
                            .tm Toplam Faiz ve Vergi
                tbody
                    tr
                        td.column33
                            .v=`${kpi_gecmis_fkv}₺`
                        td.column33
                            .v=`${kpi_kalan_fkv}₺`
                        td.column33
                            .v=`${kpi_toplam_fkv}₺`

            table.styled-table
                thead
                    tr.yellow
                        th
                            .tm Geçmiş Faiz Gelirleri
                        th
                            .tm Kalan Faiz Gelirleri
                        th
                            .tm Toplam Faiz Gelirleri
                tbody
                    tr
                        td.column33
                            .v=`${kpi_gecmis_fg}₺`
                        td.column33
                            .v=`${kpi_kalan_fg}₺`
                        td.column33
                            .v=`${kpi_toplam_fg}₺`
            table.styled-table
                thead
                    tr.yellow
                        th
                            .tm Geçmiş Faiz Geliri-Faiz Gideri
                        th
                            .tm Kalan Faiz Geliri-Faiz Gideri
                        th
                            .tm Toplam Faiz Geliri-Faiz Gideri
                tbody
                    tr
                        td.column33(style=kpi_gecmis_fark_style)
                            .v=`${kpi_gecmis_fark}₺`
                        td.column33(style=kpi_kalan_fark_style)
                            .v=`${kpi_kalan_fark}₺`
                        td.column33.bold(style=kpi_toplam_fark_style)
                            .v=`${kpi_toplam_fark}₺`
            br
            br
            table.styled-table
                thead
                    tr.blue
                        th(colspan=3)
                            .tm.bold Bağlanması Gereken Mevduat ve Faiz Oranı Çizelgesi
                    tr.blue
                        th
                            .tm Faiz Oranı %
                        th
                            .tm Hedeflenen Faiz Geliri
                        th
                            .tm Bağlanması Gereken Para
                tbody
                each datum, index in faizOranlariVeMevduatlarData
                  if(index % 2 === 0)
                    tr
                        td.column33.even
                            .v #{datum[0].qText}
                        td.column33.even
                            .v #{datum[1].qText} ₺
                        td.column33.even
                            .v #{datum[2].qText} ₺
                  else
                    tr
                        td.column33
                            .v #{datum[0].qText}
                        td.column33
                            .v #{datum[1].qText} ₺
                        td.column33
                            .v #{datum[2].qText} ₺
            br
            br
            table.styled-table
                thead
                    tr.black
                        th(colspan=4)
                            .tm.bold Şubelerdeki Hesap Bakiyeleri (Orijinal Para Birimine Göre)
                    tr.green
                        th.column50.black
                            .tm Şube
                        th.blue
                            .tm Toplam TL
                        th.euro
                            .tm Toplam EUR
                        th.dollar
                            .tm Toplam USD
                tbody
                    tr
                        td
                            .v.bold Tüm Şubeler
                        td
                            .v.bold=`${subeSubTotals[9].qText}`
                        td
                            .v.bold=`${subeSubTotals[10].qText}`
                        td
                            .v.bold=`${subeSubTotals[11].qText}`
                each datum, index in subeData
                  if(index % 2 === 0)
                    tr.even
                        td
                            .v #{datum[0].qText}
                        td
                            .v #{datum[10].qText}
                        td
                            .v #{datum[11].qText}
                        td
                            .v #{datum[12].qText}
                  else
                    tr
                        td
                            .v #{datum[0].qText}
                        td
                            .v #{datum[10].qText}
                        td
                            .v #{datum[11].qText}
                        td
                            .v #{datum[12].qText}
            br
            br
            table.styled-table
                thead
                    tr.blue
                        th(colspan=6)
                            .tm.bold TL (₺) Hesap Bakiyeleri Özet
                    tr.blue
                        th(colspan=2)
                            .tm Şube
                        th
                            .tm Bankadaki TL
                        th
                            .tm Bağlanan TL
                        th
                            .tm Blokeli TL
                        th
                            .tm Toplam TL
                tbody
                    tr
                        td(colspan=2)
                            .v.bold Tüm Şubeler
                        td
                            .v.bold=`${subeSubTotals[0].qText}`
                        td
                            .v.bold=`${subeSubTotals[3].qText}`
                        td
                            .v.bold=`${subeSubTotals[6].qText}`
                        td
                            .v.bold=`${subeSubTotals[9].qText}`
                each datum, index in subeData
                  if(index % 2 === 0)
                    tr.even
                        td(colspan=2)
                            .v #{datum[0].qText}
                        td
                            .v #{datum[1].qText}
                        td
                            .v #{datum[4].qText}
                        td
                            .v #{datum[7].qText}
                        td
                            .v #{datum[10].qText}
                  else
                    tr
                        td(colspan=2)
                            .v #{datum[0].qText}
                        td
                            .v #{datum[1].qText}
                        td
                            .v #{datum[4].qText}
                        td
                            .v #{datum[7].qText}
                        td
                            .v #{datum[10].qText}
            br
            br
            table.styled-table
                thead
                    tr.euro
                        th(colspan=6)
                            .tm.bold EUR (€) Hesap Bakiyeleri Özet
                    tr.euro
                        th(colspan=2)
                            .tm Şube
                        th
                            .tm Bankadaki EUR
                        th
                            .tm Bağlanan EUR
                        th
                            .tm Blokeli EUR
                        th
                            .tm Toplam EUR
                tbody
                    tr
                        td(colspan=2)
                            .v.bold Tüm Şubeler
                        td
                            .v.bold=`${subeSubTotals[1].qText}`
                        td
                            .v.bold=`${subeSubTotals[4].qText}`
                        td
                            .v.bold=`${subeSubTotals[7].qText}`
                        td
                            .v.bold=`${subeSubTotals[10].qText}`
                each datum, index in subeData
                  if(index % 2 === 0)
                    tr.even
                        td(colspan=2)
                            .v #{datum[0].qText}
                        td
                            .v #{datum[2].qText}
                        td
                            .v #{datum[5].qText}
                        td
                            .v #{datum[8].qText}
                        td
                            .v #{datum[11].qText}
                  else
                    tr
                        td(colspan=2)
                            .v #{datum[0].qText}
                        td
                            .v #{datum[2].qText}
                        td
                            .v #{datum[5].qText}
                        td
                            .v #{datum[8].qText}
                        td
                            .v #{datum[11].qText}
            br
            br
            table.styled-table
                thead
                    tr.dollar
                        th(colspan=6)
                            .tm.bold USD ($) Hesap Bakiyeleri Özet
                    tr.dollar
                        th(colspan=2)
                            .tm Şube
                        th
                            .tm Bankadaki USD
                        th
                            .tm Bağlanan USD
                        th
                            .tm Blokeli USD
                        th
                            .tm Toplam USD
                tbody
                    tr
                        td(colspan=2)
                            .v.bold Tüm Şubeler
                        td
                            .v.bold=`${subeSubTotals[2].qText}`
                        td
                            .v.bold=`${subeSubTotals[5].qText}`
                        td
                            .v.bold=`${subeSubTotals[8].qText}`
                        td
                            .v.bold=`${subeSubTotals[11].qText}`
                each datum, index in subeData
                  if(index % 2 === 0)
                    tr.even
                        td(colspan=2)
                            .v #{datum[0].qText}
                        td
                            .v #{datum[3].qText}
                        td
                            .v #{datum[6].qText}
                        td
                            .v #{datum[9].qText}
                        td
                            .v #{datum[12].qText}
                  else
                    tr
                        td(colspan=2)
                            .v #{datum[0].qText}
                        td
                            .v #{datum[3].qText}
                        td
                            .v #{datum[6].qText}
                        td
                            .v #{datum[9].qText}
                        td
                            .v #{datum[12].qText}
            br
            table.styled-table
                thead
                    tr.blue
                        th(colspan=6)
                            .tm.bold Muhasebe Hesap Bakiyeleri
                    tr.blue
                        th(colspan=2)
                            .tm Hesap
                        th
                            .tm TL
                        th
                            .tm EUR
                        th
                            .tm USD
                tbody
                each datum, index in muhasebeHesapBakiyeleriData
                          if(index % 2 === 0)
                            tr.even
                                td(colspan=2)
                                    .v #{datum[1].qText}
                                td
                                    .v #{datum[2].qText}
                                td
                                    .v #{datum[3].qText}
                                td
                                    .v #{datum[4].qText}
                          else
                            tr
                                td(colspan=2)
                                    .v #{datum[1].qText}
                                td
                                    .v #{datum[2].qText}
                                td
                                    .v #{datum[3].qText}
                                td
                                    .v #{datum[4].qText}
                    tr
                        td(colspan=2)
                            .v.bold Toplam
                        td
                            .v.bold=`${muhasebeHesapBakiyeleriSubTotals[0].qText}`
                        td
                            .v.bold=`${muhasebeHesapBakiyeleriSubTotals[1].qText}`
                        td
                            .v.bold=`${muhasebeHesapBakiyeleriSubTotals[2].qText}`
            br
    hr
    small=`INKA | Istanbul | Turkey `
    a(href='https://inkafixing.com') Website
